[submodule "app"]
	path = app
    url = https://github.com/wizzk42/armv7-embedded-rust-app.git
    update = rebase
[submodule "rt"]
	path = rt
	url = https://github.com/wizzk42/armv7-embedded-rust-rt.git
    update = rebase
[submodule "log"]
	path = log
	url = https://github.com/wizzk42/armv7-embedded-rust-log
    update = rebase
